Package: fdh-postinstall
Version: 0.2-0
Section: base
Priority: optional
Architecture: all
Depends: fdh-bash, htop, screen, dfc
Maintainer: Dh0mp5eur <dhomps.florian@gmail.com>
Description: Personnal Psotinstall Meta Package
